@{
    ViewData["Title"] = "Access Denied";
}

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="alert alert-danger alert-dimissible fade show" role="alert">
                    <h2>No tiene acceso a esta seccion - <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Home</a></h2>
                    <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>
