@using InternetBanking.Core.Application.ViewModels.User
@model ForgotPassViewModel
@{
    ViewData["Title"] = "Olvidé mi contraseña";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 mx-auto mt-5">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <h4>Olvidé mi contraseña</h4>
                </div>
                <div class="card-body">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dimissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form asp-controller="User" asp-action="ForgotPassword"  method="post">

                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Correo"/>
                            <label asp-for="Email" class="form-label">Correo </label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-light">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>