@*
    
*@
@{
}

<div class="row">
    <div class="col-4 mx-auto">
        <a asp-controller="User" asp-action="Register" class="btn btn-outline-primary w-100">
            Agregar Nuevo Usuario
        </a>
    </div>
    <div class="col-6 mx-auto">
        Aqui agregaremos la lista de usuarios
    </div>
</div>
