@{
    
}

<div class="container-fluid">
    <div class="row bg-light rounded p-3 mb-5">
        <section class="w-100 d-flex justify-content-between align-items-center">
            <h3 class="fs-4 fw-bold fw-bolder m-2 w-100">
                Dashboard
                <span class="fs-5 fw-bold fw-bolder text-muted m-2 text-end w-100">
                    / Info
                </span>
            </h3>
            <a asp-controller="Home" asp-action="UserManagement" class="btn btn-outline-dark">Administración de Usuario</a>
        </section>
    </div>
    <div class="row gap-5 justify-content-center align-items-center">
        <section class="col-4">
            <div class="d-flex flex-column text-center shadow gap-4 pb-3">
                <section class="w-100 bg-primary text-white p-2">
                    <h6 class="fw-bold text-uppercase mt-2">Cantidad de transacciones</h6>
                </section>
                <div class="d-flex justify-content-around align-items-center">
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase text-muted fw-bold">Hoy</h6>
                        <span class="badge bg-light rounded-pill fs-6 px-3">30</span>
                    </section>
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Total</h6>
                        <span class="badge bg-primary rounded-pill fs-6 px-3">540</span>
                    </section>
                </div>
            </div>
        </section>
        <section class="col-3">
            <div class="d-flex flex-column text-center shadow gap-4 pb-3">
                <section class="w-100 bg-primary text-white p-2">
                    <h6 class="fw-bold text-uppercase mt-2">Cantidad de pagos</h6>
                </section>
                <div class="d-flex justify-content-around align-items-center">
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase text-muted fw-bold">Hoy</h6>
                        <span class="badge bg-light rounded-pill fs-6 px-3">30</span>
                    </section>
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Total</h6>
                        <span class="badge bg-primary rounded-pill fs-6 px-3">540</span>
                    </section>
                </div>
            </div>
        </section>
        <section class="col-3">
            <div class="d-flex flex-column text-center shadow gap-4 pb-3">
                <section class="w-100 bg-primary text-white p-2">
                    <h6 class="fw-bold text-uppercase mt-2 w-100">Estado de clientes</h6>
                </section>
                <div class="d-flex justify-content-around align-items-center">
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase text-muted fw-bold">Activos</h6>
                        <span class="badge bg-success rounded-pill fs-6 px-3">30</span>
                    </section>
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Inactivos</h6>
                        <span class="badge bg-danger rounded-pill fs-6 px-3">540</span>
                    </section>
                </div>
            </div>
        </section>
        <section class="col-9 p-0">
            <div class="d-flex flex-column gap-4 pb-3 mt-3 shadow">
                <section class="w-100 bg-primary text-white p-3">
                    <h6 class="fw-bold text-uppercase">Cantidad de productos asignados al cliente</h6>
                </section>
                <div class="d-flex align-items-center gap-5 p-2">
                    <section class="d-flex justify-content-center align-items-center gap-4">
                        <h6 class="text-uppercase fw-bold m-0">Total</h6>
                        <span class="badge bg-primary rounded-pill fs-6 px-5">53</span>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
