@using InternetBanking.Core.Application.Enums
@using Microsoft.AspNetCore.Http
@using InternetBanking.Core.Application.Dtos.Account
@using InternetBanking.Core.Application.Helpers
@using InternetBanking.Core.Application.ViewModels.User
@inject IHttpContextAccessor httpContextAccesor
@{
    var user = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
    bool isAdmin = false;
    if (user != null)
    {
        isAdmin = user.Roles.Contains(Roles.Admin.ToString());
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BDM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        @if (isAdmin)
        {        
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-primary bg-primary  border-bottom box-shadow">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Banco BDM</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="text-white nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (user != null)
                            {
                                <li class="nav-item">
                                    <a class="text-white nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">Cerrar Sesion</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="w-100 h-100">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
